/* this is my custom stylesheet*/
/* palette: #5A2032 #1B1321 #C8B286 #B8ABA1 #B44D48  */

div {
	border-radius: 5px;
	margin-right: 2px;
}
	
/*header > div {
	z-index:1;
	position: fixed;
	width: 97.5%;
	/*background-color: rgb(91, 37, 54);*/
/*	margin-bottom: 10px;
}*/
	
img {
	width: 12%;
	height: 12%;
	float: left;
	border-radius: 5px;
	margin-top: 5px;
}
 /*  Pictures in buttons */
.z-score {

	width: 4%;
	height: 4%;
	margin-right: 1.5em;
	margin-top: 0em;
}
.matrix {
	width: 6%;
	height: 6%;
	margin-right: 1.3em;
	margin-top: 0em;
}

.network {
	width: 8%;
	height: 8%;
	margin-right: 0.9em;
	margin-top: 0em;
}

.lines {
	width: 9%;
	height: 9%;
	margin-right: 0.7em;
	margin-top: 0em;
}

.selectDataset {
	width: 8%;
	height: 8%;
	margin-right: 0.8em;
	margin-top: 0em;
}

#selectDataset {
	width: 15%;
	height: 15%;
	margin-right: 0.8em;
	margin-top: 0em;
}

.dataList {
	color: #646464;
	font-size: 20px;
	font-family: Verdana, sans-serif;
}
/***** Jumbo landing page bit */

#jumbo {
    border-radius: 25px;
}

h1 {
	font-family: Verdana;
	color: #B8ABA1;
	margin-left: 0em;
	margin-top: 60px;
	text-align: center;
}

h4 {
	font-family: Verdana;
	color: #646464;
	text-align: center;
	margin-top: 2em;
	margin-bottom: 2em;
}

h2 {
	text-align: center;
	font-family: Verdana;
	color: #B8ABA1;
	margin-left: -2em;
	margin-top: 60px;
}

#test {
	text-align: center;
	font-family: Verdana;
	color: #B8ABA1;
	margin-left: 0em;
	margin-top: 60px;
}

h3{
	font-family: Verdana;
	color: #646464;
	margin-left: 0em;
}

p {
	color: #646464;
	font-size: 14px;
	font-family: Verdana, sans-serif;
}

#clust-head {
	text-align: left; 
	margin-left: 37em;
	font-family: Verdana, sans-serif; 
	color: #B8ABA1;
	padding-top: 0em;
	margin-top: 0em;
	margin-bottom: 0em;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0.4em;
  font: inherit;
  color: #898989;
  font-family: "myriad pro", sans-serif;
  font-size: 20px;
  }

button {
  overflow: hidden;
}

.btn-lg, .btn-group-lg>.btn {
	font-size: 20px;
	color:#898989;
	font-family: "myriad pro", sans-serif;
	width: 20em;
}

.btn-info {
	background-color: #E6E6E6;
	border-color: #fff;
}

.btn-default {
	background-color: #E6E6E6;
	border-color: #fff;
	color: #646464;
}

.btn{
	text-align: left;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  color: #898989;
  background-color: #D0DADD;
  border-color: #fff;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #898989;
  border-color: #fff;
}

#mean-z {
  background:#fafafa;
  height:695px;
  width: 1350px;
  padding:5px;
  margin-left: -7em
}

#mean-zGr {
  background:#fafafa;
  height:695px;
  width: 1350px;
  padding:5px;
  margin-left: -7em
}

#network {
  background:#D0DADD;
  height:695px;
  width: 1350px;
  padding:5px;
  margin-left: -7em
}

#networkGr {
  background:#fafafa;
  height:725px;
  width: 1350px;
  padding:5px;
  margin-left: -7em
}

#corrmat {
  background:#D0DADD;
  height:695px;
  width: 1350px;
  padding:5px;
  margin-left: -7em
}

#corrmatGr {
  background:#D0DADD;
  height:695px;
  width: 1350px;
  padding:5px;
  margin-left: -7em
}

#tc {
  background:#D0DADD;
  height:695px;
  width: 1350px;
  padding:5px;
  margin-left: -7em
}

#networkClust {
  background:#fafafa;
  height:695px;
  width: 1350px;
  padding:5px;
  margin-left: -6em
}

#corrmatClust {
  background:#fafafa;
  height:695px;
  width: 1350px;
  padding:5px;
  margin-left: -6em
}

#tempOrd {
  background:#D0DADD;
  height:695px;
  width: 1350px;
  padding:5px;
  margin-left: -6em
}

#tempDur {
  background:#D0DADD;
  height:695px;
  width: 1350px;
  padding:5px;
  margin-left: -6em
}

.bottomText {
	margin-top: 0em;
	margin-bottom: 0em;
	font-size: 12px;
}

/* SVG D3 custom css */

.axis path,
.axis line {
fill: none;
stroke: #E6E6E6;
shape-rendering: crispEdges;
}

.axis text {
font-family: sans-serif;
font-size: 14px;
fill: #969696;
}

.y-label {
	font-family: sans-serif;
	font-size: 20px;
	fill: #969696;
}
.legend{
stroke: "grey";
}

text.active {
  /*fill: red;*/
  font-weight: bold;
}

.grid .tick {
	stroke: #ccc;
	opactiy: 0.7;
}

.grid path {
	stroke-width:0;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  font-family: Verdana, sans-serif;
  padding: 12px;
  background: rgba(208, 218, 221, 0.8);
  color: #898989;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip, from http://bl.ocks.org/Caged/6476579 */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
footer {
	position: relative;
	height: 50px;
	clear: both;
	font-family: Verdana, sans-serif;
	font-size: 14px;
	text-align: center;
}

footer p {
	position: relative;
	padding-top: 15px;
	color: #B8ABA1;
}


/***************************************************   Old stuff I might want again....?
#name {	
	float: left;
	margin-left: 1%;
	padding-top: 5px;
	font-size: 16px;
	font-family: Verdana, sans serif;
	color: #B8ABA1;
}
	
#email {
	float: right;
	margin-right: 5px;
	padding-top: 5px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: #B8ABA1;
}

#twitter {
	float: right;
	margin-right: 5px;
	padding-top: 5px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: #B8ABA1;
}

#home {
	float: right;
	margin-right: 5px;
	padding-top: 5px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: #B8ABA1;
}
