/* this is my custom stylesheet*/
/* palette: #5A2032 #1B1321 #C8B286 #B8ABA1 #B44D48  */

div {
	border-radius: 5px;
	margin-right: 2px;
}
	
header > div {
	z-index:1;
	position: fixed;
	width: 97.5%;
	/*background-color: rgb(91, 37, 54);*/
	margin-bottom: 10px;
}
	
img {
	width: 12%;
	height: 12%;
	float: left;
	border-radius: 5px;
	margin-top: 5px;
}
	
#name {	
	float: left;
	margin-left: 1%;
	padding-top: 5px;
	font-size: 16px;
	font-family: Verdana, sans serif;
	color: #B8ABA1;
}
	
#email {
	float: right;
	margin-right: 5px;
	padding-top: 5px;
	font-size: 16px;
	font-family: Verdana, sans serif;
	color: #B8ABA1;
}

#twitter {
	float: right;
	margin-right: 5px;
	padding-top: 5px;
	font-size: 16px;
	font-family: Verdana, sans serif;
	color: #B8ABA1;
}
	
h1 {
	float: right;
	font-family: Verdana;
	color: #B8ABA1;
	margin-right: 10%;
}
	
h4 {
	font-family: Verdana;
	color: #1B1321;
	margin-left: 15px;
}

p {
	color: #1B1321;
	font-size: 14px;
	font-family: Verdana, sans serif;
	margin-left: 15px;
}

footer {
	position: relative;
	height: 50px;
	/*background-color: rgb(91, 37, 54);*/
	clear: both;
	font-family: Verdana, sans-serif;
	font-size: 14px;
	text-align: center;
}

footer p {
	position: relative;
	padding-top: 15px;
	color: #B8ABA1;
}

div.bar {
	display: inline-block;
	width: 20px;
	height: 75px;
	background-color: teal;
}

.axis path,
.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.axis text {
	font-family: sans-serif;
	font-size: 11px;
}