/* palette: #5A2032 #1B1321 #C8B286 #B8ABA1 #B44D48  */

div {
	border-radius: 5px;
	}
	
#header {
	position: fixed;
	width: 97.5%;
	margin-top: -20px;
	background-color: #5A2032;
	margin-bottom: 10px;
	border-radius: 5px;
	}
	
img {
	width: 10%;
	height: 10%;
	float: left;
	border-radius: 5px;
	}
	
#name {
	color: #B8ABA1;
	font-family: Verdana, sans serif;
	float: left;
	margin-left: 1%;
	font-size: 16px;
	padding-top: 5px;
	}
	
#email {
	float: right;
	margin-right: 5px;
	padding-top: 5px;
	font-size: 16px;
	font-family: Verdana, sans serif;
	color: #B8ABA1;
	}
	
h1 {
	float: right;
	font-family: Verdana;
	color: #B8ABA1;
	margin-right: 25%;
	}

.left {
	position: relative;
	width: 10%;
	height: 80%;
	float: left;
	border-radius: 5px;
	}
		
.right {
	position: relative;
	background-color: #B8ABA1;
	border-radius: 5px;
	float: right;
	margin-top: 140px;
	width: 80%
	height: 80%;
	}
	
p {
	color: #1B1321;
	font-size: 14px;
	font-family: Verdana, sans serif;
	margin-left:10%;
	}
	