/* palette: #5A2032 #1B1321 #C8B286 #B8ABA1 #B44D48  */

div {
	border-radius: 5px;
}
	
#header {
	z-index:1;
	position: fixed;
	width: 97.5%;
	margin-top: -20px;
	background-color: rgb(91, 37, 54);
	margin-bottom: 10px;
}
	
img {
	width: 10%;
	height: 10%;
	float: left;
	border-radius: 5px;
	margin-top: 5px;
}
	
#name {
	float: left;
	margin-left: 1%;
	padding-top: 5px;
	font-size: 16px;
	font-family: Verdana, sans serif;
	color: #B8ABA1;
}
	
#email {
	float: right;
	margin-right: 5px;
	padding-top: 5px;
	font-size: 16px;
	font-family: Verdana, sans serif;
	color: #B8ABA1;
}
	
h1 {
	float: right;
	font-family: Verdana;
	color: #B8ABA1;
	margin-right: 25%;
}
	
h4 {
	font-family: Verdana;
	color: #1B1321;
	margin-left: 5px;
}

.left {
	position: relative;
	float: left;
	margin-top: 140px;
	width: 10%;
	height: 400px;
	background-color: #B9D7D9;
	margin-bottom: 10px;
}

.right {
	position: relative;
	float: right;
	margin-top: 140px;
	width: 88%;
	height: 400px;
	background-color: rgb(194, 184, 174);
	margin-bottom: 10px;
}

p {
	color: #1B1321;
	font-size: 14px;
	font-family: Verdana, sans serif;
	margin-left: 5px;
}
	